<!DOCTYPE HTML>
<!--
	Justice by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yonchi &mdash; automated tool for Sales, HR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FreeHTML5.co"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400, 900" rel="stylesheet"> -->

    <!-- Animate.css -->
    <link rel="stylesheet" href={% static 'web/css/animate.css' %}>
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href={% static 'web/css/icomoon.css' %}>
    <!-- Themify Icons-->
    <link rel="stylesheet" href={% static 'web/css/themify-icons.css' %}>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href={% static 'web/css/bootstrap.css' %}>
    <!-- Magnific Popup -->
    <link rel="stylesheet" href={% static 'web/css/magnific-popup.css' %}>
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href={% static 'web/css/owl.theme.default.min.css' %}>
    <!-- Flexslider -->
    <link rel="stylesheet" href={% static 'web/css/flexslider.css' %}>
    <!-- Theme style  -->
    <link rel="stylesheet" href={% static 'web/css/style.css' %}>

    <!-- Modernizr JS -->
    <script src={% static 'web/js/modernizr-2.6.2.min.js' %}></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src={% static 'web/js/respond.min.js' %}></script>
	<![endif]-->
    <script src={% static 'web/js/sweetalert2.all.js' %}></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

</head>
<body>
<div class="gtco-loader"></div>
{{ MEDIA_URL }}
<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo"><a href="#">YO<em>nchi</em></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1 main-nav">
                    <ul>
                        <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                        <li><a href="#" data-nav-section="about">About</a></li>
                        <li><a href="#" data-nav-section="practice-areas">Practice Areas</a></li>
{#                        <li><a href="#" data-nav-section="our-team">Our Team</a></li>#}
                        <li><a href="#" data-nav-section="download">Download</a></li>
                        <li><a href="#" data-nav-section="contact">Contact</a></li>
                        <li class="btn-cta"><a href="{% url 'login' %}" class="external"><span>Try It</span></a></li>
                        <!-- For external page link -->
{#                        <li><a href="{% url 'login' %}" class="external">External</a></li> -->#}
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <section id="gtco-hero" class="gtco-cover" style="background-image: url({% static 'web/images/img_bg_4.jpg' %});" data-section="home"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="display-t">
                        <div class="display-tc">
                            <h1 class="animate-box" data-animate-effect="fadeIn">The automation tool for Sales and
                                HR</h1>
                            <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a
                                    href="https://vimeo.com/95874851" class="popup-vimeo"><i
                                    class="icon-controller-play"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="gtco-about" data-section="about">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Welcome To Our Automate Product</h1>
                    <p class="sub">YOnchi - is aiming to automate many of the tasks that could help with sales, marketing and recruiting on LinkedIn.
                        Yonchi - is an automation tool that simplifies your work with LinkedIn.com, namely: send a connection request, verifying who accepted the connection request, send messages to added connections and etc.</p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img-shadow">
                        <img src="{% static 'web/images/collage.jpg' %}" class="img-responsive"
                             alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    </div>
                </div>
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <h2 class="heading-colored">About</h2>
                    <p>That’s easy to do with YOnchi. With YOnchi you can send connection request with or without a message.
                    Messages sent while sending connection request can be easily personalized by inserting first name.
                    Simulates user interactions automatically (to avoid getting blocked by Linkedin). Customizable Delay + Random variation = Delay between each message sending.
                    Please note that YOnchi is a browser automation therefore it gives an impression that a human being is doing it and hence your account never gets blocked if you send requests or messages in limit.</p>
                    The problem with most LinkedIn automation tools is they are just a bunch of features thrown together and the user has to figure out when and how to use the features. YOnchi makes it SO much easier because it automates the process from start to finish.
{#                    <p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>#}
                </div>
            </div>
        </div>
    </section>

    <section id="gtco-practice-areas" data-section="practice-areas">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Practice Areas</h1>
                    <p class="sub">Making the most out of LinkedIn is so much easier with a helping hand, and you too
                        can be a social selling leader with the right tools.</p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Practice <span>Areas</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/connections.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>Auto Connection Request sending</h3>
                            <p>Send automatic connection requests to Linkedin People Search Results.
                                Custom personalized proposal with First name of member.
                            Ability sends a connection request with the message or without. Set limit on max connection in percent</p>
                        </div>
                    </div>

                    <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/message.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>Messages</h3>
                            <p>Yonchi is brilliant for sending mass messages to connections so that you can open up a dialogue.
                                You can send these prospects personalized messages. A great feature of this tool is sent messages to ALL members of the selected task automatically.
                                It also allows you to remove connections from your selected list that you would not like to message meaning that you are in full control.
                            </p>
                        </div>
                    </div>

                    <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/next.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>Forward sent message</h3>
                            <p>Yonchi is brilliant for sending mass messages to connections so that you can open up a
                                dialogue. It also allows you to remove connections from your selected list that you
                                would not like to message meaning that you are in full control. </p>
                        </div>
                    </div>

                                        <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/notepad.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>Other useful functions</h3>
                            <p>Ability to Pause/Resume from last stopped point ( may be aborted by user, or by unexpected errors like browser crash).
                            Simulates user interactions automatically (to avoid getting blocked by Linkedin).
                            Doesn’t disturb normal browsing activities.</p>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">

                    <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/verify-sign.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>Verifying accepting request</h3>
                            <p>There You can verify who accepted the connection.
                                YOnchi will show you when someone becomes a Connection.
                            </p>
                        </div>
                    </div>

                    <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/lan-network.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>IP Address</h3>
                            <p>This point goes hand-in-hand with simulating natural behaviour. In order for activity to
                                look as natural as possible, it’s best for any tool that you’re looking to implement to
                                use dedicated local proxies. If the tool doesn’t use proxies or the proxy isn’t local,
                                it will look as if all activity is coming from one place that is different to your own
                                device location. This can wreak havoc and suspicious activity will be detected, in turn
                                increasing the risk of profile suspension. If you’re unsure on whether the tool you’re
                                interested in uses proxies, it’s best to send the tool creators an email to ask. </p>
                        </div>
                    </div>
                                        <div class="gtco-practice-area-item animate-box">
                        <div class="gtco-icon">
                            <img src="{% static 'web/images/time.png' %}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                        </div>
                        <div class="gtco-copy">
                            <h3>Help You Save Time</h3>
                            <p>Not only does the workflow automation feature save you time, it also significantly increases your results.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="gtco-our-team" data-section="requirements">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Requirements</h1>
                    <p class="sub">Any OS with chrome installed <br> Google Chrome Browser <br> Good internet connection</p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Requirements</p>
                </div>
            </div>

        </div>
    </section>
{#    <section id="gtco-our-team" data-section="our-team">#}
{#        <div class="container">#}
{#            <div class="row row-pb-md">#}
{#                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">#}
{#                    <h1>Our Team</h1>#}
{#                    <p class="sub">Each member of our team is a specialist in his or her field. Together, we make sure#}
{#                        you’re investing where the best returns are, while building loyalty across every touchpoint.</p>#}
{#                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Our Team</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row team-item gtco-team-reverse">#}
{#                <div class="col-md-6 col-md-push-7 animate-box" data-animate-effect="fadeInRight">#}
{#                    <div class="img-shadow">#}
{#                        <img src="{% static 'web/images/img_team_1.jpg' %}" class="img-responsive"#}
{#                             alt="Free HTML5 Bootstrap Template by FreeHTML5.co">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6  col-md-pull-6 animate-box" data-animate-effect="fadeInRight">#}
{#                    <h2>Jeff Finley</h2>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores,#}
{#                        voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi?#}
{#                        Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit#}
{#                        officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus#}
{#                        reprehenderit, quae recusandae voluptatibus magnam!</p>#}
{#                    <p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio,#}
{#                        eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex#}
{#                        necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem#}
{#                        accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam,#}
{#                        dolorum excepturi adipisci.</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="row team-item gtco-team">#}
{#                <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">#}
{#                    <div class="img-shadow">#}
{#                        <img src="{% static 'web/images/img_team_2.jpg' %}" class="img-responsive"#}
{#                             alt="Free HTML5 Bootstrap Template by FreeHTML5.co">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">#}
{#                    <h2>Craig Campbell</h2>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus aliquid maiores,#}
{#                        voluptatum ex. Accusantium, eum distinctio laudantium. Perferendis dolor, corporis quasi?#}
{#                        Tempore quod molestiae quis cumque pariatur dolore vel sit, fugit delectus quasi reprehenderit#}
{#                        officia voluptate incidunt, culpa odit impedit qui dolorum fugiat. Quidem possimus#}
{#                        reprehenderit, quae recusandae voluptatibus magnam!</p>#}
{#                    <p>Ratione facilis quod laborum eaque illo dolore blanditiis nobis dicta voluptatem fugit optio,#}
{#                        eveniet non dolor quia delectus, sint, dignissimos atque porro consequuntur unde. Soluta ex#}
{#                        necessitatibus delectus saepe aliquam, culpa officiis doloremque, ipsa facere hic, voluptatem#}
{#                        accusantium veniam, quasi! Explicabo accusantium sint, corporis consequuntur fugit ipsam,#}
{#                        dolorum excepturi adipisci.</p>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </section>#}
    <section id="gtco-our-team" data-section="download">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Download</h1>
                    <p class="sub">Please, choose your operating system and download package. After you may just run and use. </p>
                    <p class="sub">
                        <a href="{% if win%} /media/{{ win }} {% endif %}"><img src={% static "web/images/win_color.png" %}></a>
                        <a href="{% if mac%} /media/{{ mac }} {% endif %}"><img src={% static "web/images/mac_color.png" %}></a>
                        <a href="{% if linux%} /media/{{ linux }} {% endif %}"><img src={% static "web/images/linux_color.png" %}></a></p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Download</p>
                </div>
            </div>

        </div>
    </section>

    <section id="gtco-contact" data-section="contact">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
                    <h1>Contact Us</h1>
                    <p class="sub">Whether you're looking for answers, would like to solve a problem, or just want to
                        let us know how we did, you'll find many ways to contact us right here.</p>
                    <p class="subtle-text animate-box" data-animate-effect="fadeIn">Contact</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-push-6 animate-box">
                    <form name="form" action="{% url "index" %}" method="post">
                                        {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div id="target" class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div id="target1" class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input name="name" type="text" class="form-control" placeholder="Name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input name="email" type="text" class="form-control" placeholder="Email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Message</label>
                            <textarea name="message" id="message" class="form-control" cols="30" rows="7"
                                      placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-md-pull-6 animate-box">
                    <div class="gtco-contact-info">
                        <ul>
                            <li class="address">198 West 21th Street, Suite 721 New York NY 10016</li>
                            <li class="phone"><a href="tel://1235235598">+ 1235 2355 98</a></li>
                            <li class="email"><a href="mailto:info@yoursite.com">info@example.com</a></li>
                            <li class="url"><a href="#">http://example.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="gtco-footer" role="contentinfo">
        <div class="container">

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">Yonchi &copy; 2018. All Rights Reserved.</small>
{#                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>#}
{#                            Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>#}
                    </p>
                    <p class="pull-right">
                    <ul class="gtco-social-icons pull-right">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<!-- jQuery -->
<script src="{% static 'web/js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'web/js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'web/js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'web/js/jquery.waypoints.min.js' %}"></script>
<!-- Stellar -->
<script src="{% static 'web/js/jquery.stellar.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'web/js/magnific-popup-options.js' %}"></script>
<!-- Main -->
<script src="{% static 'web/js/main.js' %}"></script>

</body>
</html>

